# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.Python
env/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
.DS_Store
dist/
coverage/

# IDEs
.vscode/
.idea/
